.post {
  width: 100%;
  margin: 0px 25px 40px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  background-color: #999999;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
